main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  font-family: sans-serif;
}



.component-container > * {
  margin: 0.25rem 0;
}

.component-example {
  margin-bottom: 0.5rem;
  width: 100%;
}

.component-example > p {
  margin-bottom: 0.5rem;
}